{% extends 'base.html.twig' %}

{% block body %}
    <h3>Lenguajes de programacion </h3>

    <hr>
    <table>
        <thead>
        <tr>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        {% for curse in names %}
        <tr>
            <td>{{ curse }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <h5>{{ currentDate|date }}</h5>
{% endblock %}

{% block stylesheets %}

{% endblock %}
